*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 20px;
}
nav ul{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}
nav form{
    display: flex;
    justify-content: space-between;
}
.cards{
    
    display: flex;
    justify-content: space-around;
    margin: 25px 150px;
}
main h1,h2{
    text-align: center;
}
main h3{
    margin-left: 5%;
}
main{
    background-color: rgb(250, 176, 27);
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #90aebd;
    padding-bottom: 90px;
    align-items: center ;
}
section{
    width: 100%;
}
@media screen and (max-width: 800px){
    .cards{
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    nav{
        flex-wrap: wrap;
    }
    main{
        margin: 25x 20px;
    }
}
