*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    margin: auto;
    width: 800px;
    height: 150px;
    margin-top: 250px;
    text-align: center;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    background-color: antiquewhite;
}
td{
    background-color: rgb(228, 182, 182);
}